*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #151515;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  flex: 1 1 auto;
}

.header {
  background-color: rgb(116, 118, 248);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.header__menu {
  align-self: flex-end;
}

.menu {
  font-weight: 700;
  font-size: 16px;
  line-height: 118.75%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.menu__list {
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 35px;
}
.footer {
  color: #FFFFFF;
  background: #151515;
  padding: 25px 0 25px;
}
.footer__menu {
  padding: 25px 0 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
}
.footer__column {
  max-width: 25%;
}
@media (max-width: 992px) {
  .footer__column {
    max-width: none;
    flex: 0 1 50%;
    padding-left: 30px;
  }
}
@media (max-width: 636px) {
  .footer__column {
    padding-left: calc(0px + 50 * (100vw - 320px) / 316);
    flex: 0 1 100%;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .footer__title {
    margin-bottom: 20px;
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .footer__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.footer__link {
  line-height: 130%;
}
.app-footer {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  -moz-column-gap: 25px;
       column-gap: 25px;
  flex-wrap: wrap;
}
.app-footer__item {
  padding: 12px 0;
}
.copy {
  padding: 13px 0;
  max-width: 800px;
  margin: 0 auto;
}
.copy__text {
  font-size: 12px;
  line-height: 125%;
  text-align: center;
}

.nav-footer {
  padding: 17px 0 10px;
}
.nav-footer__list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 667px) {
  .nav-footer__list {
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
}