*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #151515;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 45px;
}
.header--black {
  background: #151515;
}
.header__menu {
  align-self: flex-end;
}

.menu__list {
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 35px;
}
.menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 118.75%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.menu__link:hover {
  text-decoration: underline;
}

.footer {
  color: #FFFFFF;
  background: #151515;
  padding: 25px 0 25px;
}
.footer__menu {
  padding: 25px 0 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
}
.footer__column {
  max-width: 25%;
}
@media (max-width: 992px) {
  .footer__column {
    max-width: none;
    flex: 0 1 50%;
    padding-left: 30px;
  }
}
@media (max-width: 636px) {
  .footer__column {
    padding-left: calc(0px + 50 * (100vw - 320px) / 316);
    flex: 0 1 100%;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .footer__title {
    margin-bottom: 20px;
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .footer__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.footer__link {
  line-height: 130%;
}
.footer__link:hover {
  text-decoration: underline;
}
.app-footer {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  -moz-column-gap: 25px;
       column-gap: 25px;
  flex-wrap: wrap;
}
.app-footer__item {
  padding: 12px 0;
}
.copy {
  padding: 13px 0;
  max-width: 800px;
  margin: 0 auto;
}
.copy__text {
  font-size: 12px;
  line-height: 125%;
  text-align: center;
}

.nav-footer {
  padding: 17px 0 10px;
}
.nav-footer__list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.top {
  color: #fff;
  padding-top: 240px;
  text-align: center;
  position: relative;
  height: 100vh;
  background: rgba(21, 21, 21, 0.815);
}
.top__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 96px;
  line-height: 120.8333333333%;
  margin-bottom: 30px;
}
.button-block {
  position: relative;
  z-index: 2;
  display: inline-block;
  background: #151515;
  padding: 13px 61px;
  min-width: 300px;
  text-align: center;
}

.slider-top::before {
  content: "";
  position: absolute;
  background: rgba(21, 21, 21, 0.308);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.slider-top__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.swiper-pagination {
  z-index: 3;
}

.swiper-pagination-bullet {
  width: 120px !important;
  height: 3px;
  background-color: #151515 !important;
  margin-right: 30px !important;
  opacity: 1 !important;
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  height: 6px;
}

.whylease {
  padding: 150px 0 75px;
}
.whylease__title {
  margin-bottom: 50px;
}
.title-block {
  font-weight: 700;
  font-size: 48px;
  line-height: 120.8333333333%;
  text-align: center;
}

.list-whylease {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.list-whylease__item {
  text-align: center;
}
.list-whylease__item > *:not(:last-child) {
  margin-bottom: 30px;
}
.list-whylease__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
}
.list-whylease__text {
  text-align: left;
  line-height: 130%;
}

.how-does {
  padding: 75px 0;
}
.how-does__container {
  max-width: 600px;
}
.how-does__title {
  margin-bottom: 50px;
}
.how-does__text {
  margin-bottom: 50px;
  line-height: 130%;
}
.how-does__text:last-child {
  margin-bottom: 0px;
}
.how-does__similar {
  margin-bottom: 50px;
}
.how-does__list {
  margin-bottom: 70px;
  counter-reset: myCounter;
}
.how-does__item {
  position: relative;
  padding-left: auto;
  margin-left: auto;
  width: 45%;
  min-width: 270px;
  min-height: 100px;
  padding-top: 20px;
}
.how-does__item:not(:last-child) {
  margin-bottom: 40px;
}
.how-does__item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  background: #0066FF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -220px;
}

.welcome {
  padding: 75px 0;
}
.welcome__title {
  margin-bottom: 20px;
}
.welcome__text {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
  text-align: center;
}
.welcome__video {
  position: relative;
  margin: 0 auto;
}
.welcome__video iframe {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  max-width: 1000px;
}

.important {
  padding: 75px 0 150px;
}
.important__title {
  margin-bottom: 20px;
}
.important__text {
  margin: 0 auto 50px;
  max-width: 580px;
}
.important__list {
  display: flex;
  margin: -20px;
}
.important__item {
  flex: 0 1 25%;
  padding: 20px;
}
.important__img {
  margin-bottom: 20px;
}
.important__img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.important__discription {
  line-height: 130%;
}

@media (max-width: 667px) {
  .nav-footer__list {
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .whylease {
    padding: calc(50px + 100 * (100vw - 320px) / 880) 0px calc(50px + 25 * (100vw - 320px) / 880) 0px;
  }
}
@media (max-width: 600px) {
  .how-does__list {
    background-color: rgba(255, 255, 255, 0.788);
  }
  .how-does__item::before {
    z-index: -1;
  }
  .how-does__item.how-does__item--1::before {
    left: calc(10px + -295 * (100vw - 320px) / 280);
  }
  .how-does__item.how-does__item--2::before {
    left: calc(75px + -165 * (100vw - 320px) / 280);
  }
  .how-does__item.how-does__item--3::before {
    left: calc(142px + -22 * (100vw - 320px) / 280);
  }
}