*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  color: #151515;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  flex: 1 1 auto;
}

.ovh {
  overflow: hidden;
}

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 45px;
}
.header--black {
  background: #151515;
}
.header__menu {
  align-self: flex-end;
}

.menu__list {
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 35px;
}
.menu__btn {
  display: none;
  width: 30px;
  height: 20px;
  flex-direction: column;
  background-color: transparent;
  border: none;
  justify-content: space-between;
}
.menu__btn span {
  height: 3px;
  width: 100%;
  background-color: white;
}
.menu__label, .menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 118.75%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.menu__label {
  color: #0066FF;
}
.menu__link:hover {
  text-decoration: underline;
}

.footer {
  color: #FFFFFF;
  background: #151515;
  padding: 25px 0 25px;
}
.footer__menu {
  padding: 25px 0 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
}
.footer__column {
  max-width: 25%;
}
@media (max-width: 992px) {
  .footer__column {
    max-width: none;
    flex: 0 1 50%;
    padding-left: 30px;
  }
}
@media (max-width: 636px) {
  .footer__column {
    padding-left: calc(0px + 50 * (100vw - 320px) / 316);
    flex: 0 1 100%;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .footer__title {
    margin-bottom: 20px;
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .footer__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.footer__link {
  line-height: 130%;
}
.footer__link:hover {
  text-decoration: underline;
}
.app-footer {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  -moz-column-gap: 25px;
       column-gap: 25px;
  flex-wrap: wrap;
}
.app-footer__item {
  padding: 12px 0;
}
.copy {
  padding: 13px 0;
  max-width: 800px;
  margin: 0 auto;
}
.copy__text {
  font-size: 12px;
  line-height: 125%;
  text-align: center;
}

.nav-footer {
  padding: 17px 0 10px;
}
.nav-footer__list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.inner__button {
  text-align: center;
}

.button-block {
  position: relative;
  z-index: 2;
  display: inline-block;
  background: #151515;
  padding: 13px 61px;
  min-width: 223px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
}

.top {
  color: #fff;
  padding-top: 215px;
  text-align: center;
  position: relative;
  height: 100vh;
  background: rgba(21, 21, 21, 0.815);
}
.top__title {
  font-size: 96px;
  position: relative;
  z-index: 2;
  font-weight: 700;
  line-height: 120.8333333333%;
  margin-bottom: 40px;
}
.slider-top::before {
  content: "";
  position: absolute;
  background: rgba(21, 21, 21, 0.308);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.slider-top__item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.slider-top__pagination {
  display: none;
  bottom: 50px !important;
}

.swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.swiper-pagination {
  z-index: 3;
}

.swiper-pagination-bullet {
  width: 120px !important;
  height: 3px;
  background-color: #151515 !important;
  margin-right: 30px !important;
  opacity: 1 !important;
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  height: 6px;
}

.whylease__title {
  margin-bottom: 50px;
}
.title-block {
  font-weight: 700;
  font-size: 48px;
  line-height: 120.8333333333%;
  text-align: center;
}

.list-whylease__item {
  text-align: center;
}
.list-whylease__item > *:not(:last-child) {
  margin-bottom: 20px;
}
.list-whylease__item:not(:last-child) {
  margin-bottom: 50px;
}
.list-whylease__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
}
.list-whylease__text {
  text-align: left;
  line-height: 130%;
}

.how-does {
  padding: 75px 0;
}
.how-does__container {
  max-width: 600px;
}
.how-does__title {
  margin-bottom: 50px;
}
.how-does__text {
  margin-bottom: 50px;
  line-height: 130%;
}
.how-does__text:last-child {
  margin-bottom: 0px;
}
.how-does__similar {
  margin-bottom: 50px;
}
.how-does__list {
  margin-bottom: 70px;
  counter-reset: myCounter;
}
.how-does__item {
  position: relative;
  padding-left: auto;
  margin-left: auto;
  width: 45%;
  min-width: 270px;
  min-height: 100px;
  padding-top: 20px;
}
.how-does__item:not(:last-child) {
  margin-bottom: 40px;
}
.how-does__item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  background: #0066FF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -220px;
}

.welcome {
  padding: 75px 0;
}
.welcome__title {
  margin-bottom: 20px;
}
.welcome__text {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
  text-align: center;
}
.welcome__video {
  max-width: 1000px;
  margin: 0 auto;
}
.welcome__video div {
  padding-bottom: 56%;
  position: relative;
}
.welcome__video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.important {
  padding: 75px 0 150px;
}
.important__title {
  margin-bottom: 20px;
}
.important__text {
  margin: 0 auto 50px;
  max-width: 580px;
}
.important__item {
  flex: 0 1 25%;
}
.important__img {
  margin-bottom: 20px;
}
.important__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.important__discription {
  line-height: 130%;
  max-width: 100%;
}

.contacts {
  padding: 200px 0 75px;
}
.contacts__title {
  padding-bottom: 20px;
}
.contacts__text {
  text-align: center;
  padding-bottom: 50px;
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
  max-width: 935px;
  margin: 0 auto;
}
.contacts__form {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacts__name, .contacts__email, .contacts__textarea {
  padding: 0 20px;
  width: 100%;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  border: 1px solid #0066FF;
}
.contacts__name::-moz-placeholder, .contacts__email::-moz-placeholder, .contacts__textarea::-moz-placeholder {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #151515;
  opacity: 0.5;
}
.contacts__name::placeholder, .contacts__email::placeholder, .contacts__textarea::placeholder {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #151515;
  opacity: 0.5;
}
.contacts__name, .contacts__email {
  height: 57px;
  margin-bottom: 25px;
}
.contacts__textarea {
  width: 100%;
  height: 290px;
  resize: none;
  padding: 28px 20px;
}
.contacts__innerbtn {
  margin-top: 50px;
  flex: 1 0 auto;
}
.contacts__btn {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  border: none;
}
.contacts .contacts__btn {
  padding: 10.6px 61px;
}

.blog-row {
  padding: 50px 0 50px;
}
.blog-row__list {
  margin: -20px;
  margin-bottom: 50px;
}
.blog-row__item {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.blog-row__img {
  width: 100%;
}
.blog-row__img > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.blog-row__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 120.8333333333%;
  padding-right: 30px;
}
.blog-row__btn {
  margin-top: auto;
  background: #0066FF;
  padding: 5px 20px;
  color: #fff;
  border: none;
  align-self: flex-end;
  margin-left: auto;
}
.choose {
  padding: 150px 0 70px;
}
.choose__title {
  margin: 50px 0 50px;
}
.choose__tabs {
  margin-bottom: 50px;
}
.choose__item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
}
.choose__item.choose__item--active {
  display: block;
}
.tabs-btn {
  max-width: 810px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tabs-btn__item {
  display: block;
  width: 100%;
  margin: 20px 0;
  font-family: Inter, sans-serif;
  color: #151515;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
  border: none;
  background-color: transparent;
}
.tabs-btn__item--active {
  color: #0066FF;
}

.card {
  border: 1px solid #0066FF;
  text-align: center;
  margin-bottom: 20px;
}
.card__img {
  width: 100%;
}
.card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  overflow: hidden;
}
.card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
  flex: 1 1 auto;
}
.card__text {
  line-height: 130%;
}
.card__prise {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
}
.card__link {
  display: inline-block;
  line-height: 130%;
  color: #0066FF;
  border-top: 1px solid #0066FF;
  width: 100%;
}

.choose__inner {
  margin-top: 70px;
}

@media (max-width: 860px) {
  .header__menu {
    align-self: center;
  }
  .logo-header__img {
    z-index: 10;
  }
  .menu__btn {
    display: flex;
    position: relative;
    z-index: 10;
  }
  .menu__btn span {
    transition: all 0.3s;
  }
  .menu__btn--active span:first-child {
    width: 50%;
    transform: rotate(-21deg) translate(-2px, 4px);
  }
  .menu__btn--active span:last-child {
    width: 50%;
    transform: rotate(21deg) translate(-3px, -5px);
  }
  .menu__list {
    position: absolute;
    left: -150vw;
    visibility: hidden;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding-top: 125px;
    background-color: rgb(0, 0, 0);
    transition: all 0.6s;
    z-index: 5;
    align-items: center;
  }
  .menu__list--active {
    visibility: visible;
    left: 0vw;
    overflow-y: auto;
  }
  .menu__list--active .menu__item {
    left: 0px;
  }
  .menu__item {
    position: relative;
    left: -50vw;
    transition: all 0.3s 0.4s;
    margin-bottom: 20px;
  }
  .menu__item:not(:last-child) {
    margin-right: 0px;
  }
}
@media (max-width: 667px) {
  .nav-footer__list {
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .top {
    padding-top: calc(130px + 65 * (100vw - 320px) / 704);
  }
  .top__title {
    font-size: calc(73px + 23 * (100vw - 320px) / 704);
  }
}
@media (min-width: 778px) {
  .top__button {
    font-weight: 700;
    font-size: 36px;
    line-height: 122.2222222222%;
    padding: 23px 117px;
  }
  .slider-top__pagination {
    display: inline-block;
  }
}
@media (max-width: 1200px) {
  .whylease {
    padding: calc(50px + 100 * (100vw - 320px) / 880) 0px calc(50px + 25 * (100vw - 320px) / 880) 0px;
  }
}
@media (max-width: 1024px) {
  .list-whylease {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (min-width: 600px) {
  .whylease {
    padding: 75px 0 40px;
  }
  .list-whylease {
    display: grid;
  }
  .list-whylease__item {
    margin-bottom: 0;
  }
  .list-whylease__item > *:not(:last-child) {
    margin-bottom: 30px;
  }
  .list-whylease__text {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .list-whylease {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  .list-whylease__text {
    text-align: left;
  }
}
@media (max-width: 600px) {
  .how-does {
    padding: 50px 0;
  }
  .how-does__list {
    background-color: rgba(255, 255, 255, 0.788);
  }
  .how-does__item::before {
    z-index: -1;
  }
  .how-does__item.how-does__item--1::before {
    left: calc(10px + -295 * (100vw - 320px) / 280);
  }
  .how-does__item.how-does__item--2::before {
    left: calc(75px + -165 * (100vw - 320px) / 280);
  }
  .how-does__item.how-does__item--3::before {
    left: calc(142px + -22 * (100vw - 320px) / 280);
  }
}
@media (max-width: 779px) {
  .welcome {
    padding: 50px 0;
  }
}
@media (max-width: 1023px) {
  .important {
    padding: 50px 0 70px;
  }
  .important__text {
    margin: 0 auto 30px;
  }
  .important__list {
    margin: -10px;
  }
  .important__item {
    flex: 0 1 50%;
    padding: 10px;
  }
}
@media (min-width: 480px) {
  .important__list {
    display: flex;
    margin: -10px;
    flex-wrap: wrap;
  }
  .important__item {
    padding: 10px;
  }
}
@media (min-width: 610px) {
  .contacts {
    padding: 240px 0 75px;
  }
  .contacts__name, .contacts__email {
    max-width: 270px;
  }
}
@media (min-width: 768px) {
  .blog-row__list {
    display: flex;
  }
  .blog-row__text {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .choose__item {
    gap: 50px 20px;
  }
  .tabs-btn {
    justify-content: start;
  }
}
@media (min-width: 480px) {
  .choose {
    padding: 150px 0 75px;
  }
  .choose__title {
    margin: 90px 0 50px;
  }
  .choose__tabs {
    margin: 0px auto 50px;
  }
  .choose__item {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 40px;
  }
  .choose__item.choose__item--active {
    display: grid;
  }
  .tabs-btn {
    display: flex;
  }
  .tabs-btn__item {
    width: auto;
    margin: 20px;
  }
  .card {
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .choose__item {
    grid-template-columns: repeat(3, 1fr);
  }
}