//!----- header -----
//?----------------------------- header -- media ---------------------------
.header {
  &__container {}
  &__inner {}
  &__logo {}
  &__menu {}
}
.logo-header {
  &__img {}
}
.menu {
  &__btn {}
  &__list {}
  &__item {}
  &__link {}
}
//!------------------  media -- max-width -- 860px  ------------------
@media(max-width:860px) {
  .header {
    &__container {}
    &__inner {}
    &__logo {}
    &__menu {
      align-self: center;
    }
  }
  .logo-header {
    &__img {
      z-index: 10;
    }
  }
  .menu {
    &__btn {
      display: flex;
      position: relative;
      z-index: 10;
      span {
        transition: all .3s;
      }
    }
    &__btn--active {
      span {
        // background-color: #000;
        &:first-child {
          width: 50%;
          transform: rotate(-21deg) translate(-2px, 4px); // transform: translateY(5px);
        }
        &:last-child {
          width: 50%;
          transform: rotate(21deg) translate(-3px, -5px);
        }
      }
    }
    &__list {
      // display: none;
      position: absolute;
      left: -150vw;
      visibility: hidden;
      // opacity: 0;
      // display: none;
      top: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      padding-top: 125px;
      background-color: rgb(0, 0, 0);
      transition: all .6s;
      z-index: 5;
      align-items: center;
      &--active {
        // opacity: 1;
        visibility: visible;
        // display: flex;
        left: 0vw;
        .menu__item {
          // position: relative;
          left: 0px;
        }
        // display: flex;
        // z-index:50;
        // }
        overflow-y: auto;
        //  overflow: hidden;
      }
    }
    &__item {
      position: relative;
      left: -50vw;
      transition: all .3s .4s;
      // transition-delay: 2s;
      &:not(:last-child) {
        margin-right: 0px;
      }
      margin-bottom: 20px;
      &:not(:last-child) {}
    }
    &__label,
    &__link {
      // color: #151515;
    }
  }
}
//?----------------------------- header -- end -----------------------------
//!----- footer -----
//?----------------------------- footer -- media ---------------------------
.footer {
  &__container {}
  &__menu {}
  &__column {}
  &__title {}
  &__list {}
  &__item {}
  &__link {}
  &__app {}
  &__copy {}
  &__nav {}
}
.app-footer {
  &__item {}
  &__link {}
  &__img {}
}
.copy {
  &__text {}
}
.nav-footer {
  &__list {}
  &__item {}
  &__link {}
}
//!------------------  media -- max-width -- 667px  ------------------
@media(max-width:667px) {
  .nav-footer {
    &__list {
      // display: flex;
      flex-direction: column;
      row-gap: 20px;
      text-align: center;
    }
    &__item {}
    &__link {}
  }
}
//?----------------------------- footer -- end -----------------------------
//!----- top -----
//?----------------------------- top -- media ---------------------------
.top {
  &__container {}
  &__title {}
  &__button {}
}
.slider-top {
  &::before {}
  &__item {
    img {}
  }
  &__pagination {}
}
//!------------------  media -- max-width -- 1024px  ------------------
@media(max-width:1024px) {
  .top {
    padding-top: calc(130px + 65 * ((100vw - 320px) / (1024 - 320)));
    &__container {}
    &__title {
      font-size: calc(73px + 23 * ((100vw - 320px) / (1024 - 320)));
    }
    &__button {}
  }
}
//!------------------  media -- min-width -- 779px  ------------------
@media(min-width:778px) {
  .top {
    &__container {}
    &__title {}
    &__button {
      font-weight: 700;
      font-size: 36px;
      line-height: calc(44px / 36px * 100%);
      padding: 23px 117px;
    }
  }
  .slider-top {
    &::before {}
    &__item {
      img {}
    }
    &__pagination {
      display: inline-block;
    }
  }
}
//?----------------------------- top -- end -----------------------------
//!----- swiper -----
//?----------------------------- swiper -- media ---------------------------
.swiper {
  // width: 600px;
  // height: 300px;
}
//?----------------------------- swiper -- end -----------------------------
//!----- whylease -----
//?----------------------------- whylease -- media ---------------------------
.whylease {
  &__container {}
  &__title {}
  &__list {}
}
.title-block {}
.list-whylease {
  &__item {}
  &__img {}
  &__title {}
  &__text {}
}
//!------------------  media -- max-width -- 1200px  ------------------
@media(max-width:1200px) {
  .whylease {
    padding: calc(50px + 100 * ((100vw - 320px) / (1200 - 320))) 0px calc(50px + 25 * ((100vw - 320px) / (1200 - 320))) 0px;
    &__container {}
    &__title {}
    &__list {}
  }
  .title-block {}
  .list-whylease {
    &__item {}
    &__img {}
    &__title {}
    &__text {}
  }
}
//!------------------  media -- max-width -- 1024px  ------------------
@media(max-width:1024px) {
  .whylease {
    &__container {}
    &__title {}
    &__list {}
  }
  .title-block {}
  .list-whylease {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    &__item {
      // flex: 0 1 50%;
      // width: 40%;
      // flex-wrap: wrap;
    }
    &__img {}
    &__title {}
    &__text {
      // text-align: center;
    }
  }
}
//!------------------  media -- max-width -- 667px  ------------------
@media(max-width:667px) {
  .whylease {
    &__container {}
    &__title {}
    &__list {}
  }
  .title-block {}
  .list-whylease {
    &__item {
      // flex: 0 1 100%;
    }
    &__img {}
    &__title {}
    &__text {}
  }
}
//!------------------  media -- min-width -- 600px  ------------------
@media(min-width:600px) {
  .whylease {
    padding: 75px 0 40px;
    &__container {}
    &__title {}
    &__list {}
  }
  .title-block {}
  .list-whylease {
    display: grid;
    &__item {
      margin-bottom: 0;
      > *:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &__img {}
    &__title {}
    &__text {
      text-align: center;
    }
  }
}
//!------------------  media -- min-width -- 1024px  ------------------
@media(min-width:1024px) {
  .whylease {
    &__container {}
    &__title {}
    &__list {}
  }
  .title-block {}
  .list-whylease {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    &__item {}
    &__img {}
    &__title {}
    &__text {
      text-align: left;
    }
  }
}
//?----------------------------- whylease -- end -----------------------------
//!----- howdoes -----
//?----------------------------- howdoes -- media ---------------------------
.how-does {
  &__title {}
  &__text {}
  &__similar {}
  &__list {}
  &__item {}
}
.title-block {}
//!------------------  media -- max-width -- 600px  ------------------
@media(max-width:600px) {
  .how-does {
    padding: 50px 0;
    &__title {}
    &__text {}
    &__similar {}
    &__list {
      background-color: rgba(255, 255, 255, 0.788);
    }
    &__item {
      &::before {
        // left: calc(75px + -295 * ((100vw - 320px) / (600 - 320)));
        z-index: -1;
      }
      &.how-does__item--1 {
        &::before {
          left: calc(10px + -295 * ((100vw - 320px) / (600 - 320)));
        }
      }
      &.how-does__item--2 {
        &::before {
          left: calc(75px + -165 * ((100vw - 320px) / (600 - 320)));
        }
      }
      &.how-does__item--3 {
        &::before {
          left: calc(142px + -22 * ((100vw - 320px) / (600 - 320)));
        }
      }
    }
  }
}
//?----------------------------- howdoes -- end -----------------------------
//!----- welcome -----
//?----------------------------- welcome -- media ---------------------------
.welcome {
  &__container {}
  &__title {}
  &__text {}
  &__video {}
}
//!------------------  media -- max-width -- 779px  ------------------
@media(max-width:779px) {
  .welcome {
    padding: 50px 0;
    &__container {}
    &__title {}
    &__text {}
    &__video {}
  }
}
//?----------------------------- welcome -- end -----------------------------
//!----- important -----
//?----------------------------- important -- media ---------------------------
.important {
  // padding: 50px 0 100px;
  &__title {}
  &__text {
    // margin: 0 auto 30px;
  }
  &__list {
    // margin: -10px;
  }
  &__item {
    // flex: 0 1 50%;
    // padding: 10px;
  }
  &__img {}
  &__discription {}
}
//!------------------  media -- max-width -- 1024px  ------------------
@media(max-width:1023px) {
  .important {
    padding: 50px 0 70px;
    &__title {}
    &__text {
      margin: 0 auto 30px;
    }
    &__list {
      margin: -10px;
    }
    &__item {
      flex: 0 1 50%;
      padding: 10px;
    }
    &__img {}
    &__discription {}
  }
}
//!------------------  media -- min-width -- 480px  ------------------
@media(min-width:480px) {
  .important {
    // padding: 50px 0 100px;
    &__title {}
    &__text {
      // margin: 0 auto 30px;
    }
    &__list {
      display: flex;
      margin: -10px;
      flex-wrap: wrap;
    }
    &__item {
      // flex: 0 1 50%;
      // padding: 10px;
      // flex: 0 1 50%;
      padding: 10px;
    }
    &__img {}
    &__discription {}
  }
}
//?----------------------------- important -- end -----------------------------
//!----- contacts -----
//?----------------------------- contacts -- media ---------------------------
.contacts {
  &__title {}
  &__text {}
  &__name {}
  &__email {}
  &__btn {}
}
.title-block {}
.button-block {}
//!------------------  media -- min-width -- 600px  ------------------
@media(min-width:610px) {
  .contacts {
    padding: 240px 0 75px;
    &__title {}
    &__text {}
    &__name {
      // margin-right: 35px;
    }
    &__name,
    &__email {
      max-width: 270px;
    }
    &__email {}
    &__btn {}
  }
}
//?----------------------------- contacts -- end -----------------------------
//!----- blog-row -----
//?----------------------------- blog-row -- media ---------------------------
.blog-row {
  &__container {}
  &__list {}
  &__item {}
  &__img {}
  &__text {}
  &__btn {}
  &__link {}
}
//!------------------  media -- min-width -- 768px  ------------------
@media(min-width:768px) {
  .blog-row {
    &__container {}
    &__list {
      display: flex;
    }
    &__item {}
    &__img {}
    &__text {
      font-size: 24px;
    }
    &__btn {}
    &__link {}
  }
}
//?----------------------------- blog-row -- end -----------------------------
//!----- choose -----
//?----------------------------- choose -- media ---------------------------
.choose {
  &__container {}
  &__title {}
  &__tabs {}
  &__content {}
  &__item {}
  &__card {}
}
.title-block {}
.tabs-btn {
  &__item {}
}
.card {
  &__img {}
  &__title {}
  &__text {}
  &__prise {}
  &__link {}
}
//!------------------  media -- max-width -- 1024px  ------------------
@media(max-width:1024px) {
  .choose {
    &__container {}
    &__title {}
    &__tabs {}
    &__content {}
    &__item {
      gap: 50px 20px;
    }
    &__card {}
  }
  .title-block {}
  .tabs-btn {
    justify-content: start;
    &__item {}
  }
  .card {
    &__img {}
    &__title {}
    &__text {}
    &__prise {}
    &__link {}
  }
  .choose {
    &__inner {}
  }
}
//!------------------  media -- min-width -- 480px  ------------------
@media(min-width:480px) {
  .choose {
    padding: 150px 0 75px;
    &__container {}
    &__title {
      margin: 90px 0 50px;
    }
    &__tabs {
      margin: 0px auto 50px;
    }
    &__content {}
    &__item {
      display: none;
      grid-template-columns: repeat(2, 1fr);
      gap: 100px 40px;
      &.choose__item--active {
        display: grid;
      }
    }
    &__card {}
  }
  .title-block {}
  .tabs-btn {
    display: flex;
    &__item {
      width: auto;
      margin: 20px;
    }
  }
  .card {
    margin-bottom: 0px;
    &__img {}
    &__title {}
    &__text {}
    &__prise {}
    &__link {}
  }
}
//!------------------  media -- min-width -- 768px  ------------------
@media(min-width:768px) {
  .choose {
    &__container {}
    &__title {}
    &__tabs {}
    &__content {}
    &__item {
      grid-template-columns: repeat(3, 1fr);
    }
    &__card {}
  }
  .title-block {}
  .tabs-btn {
    &__item {}
  }
  .card {
    &__img {}
    &__title {}
    &__text {}
    &__prise {}
    &__link {}
  }
}
//!------------------  media -- min-width -- 1024px  ------------------
@media(min-width:1024px){
  .choose {
    &__container {}
    &__title {}
    &__tabs {}
    &__content {}
    &__item {
      // grid-template-columns: repeat(4, 1fr);
    }
    &__card {}
  }
  .title-block {}
  .tabs-btn {
    &__item {}
  }
  .card {
    &__img {}
    &__title {}
    &__text {}
    &__prise {}
    &__link {}
  }
}
//?----------------------------- choose -- end -----------------------------
//   1046
//   667