@import "_reset.scss";
//!----- header -----
//?----------------------------- header ------------------------------------
.header {
  // background-color: rgb(116, 118, 248);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 45px;
  }
  &--black {
    background: #151515;
  }
  &__logo {}
  &__menu {
    // height: 100%;
    // display: flex;
    align-self: flex-end;
  }
}
.logo-header {
  &__img {}
}
.menu {
  &__list {
    display: flex;
    // align-items: flex-end;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  &__label,
  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19px / 16px * 100%);
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__label {
    color: #0066FF;
  }
  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
}
//?----------------------------- header -- end -----------------------------
//!----- footer -----
//?----------------------------- footer ------------------------------------
.footer {
  color: #FFFFFF;
  background: #151515;
  padding: 25px 0 25px;
  &__container {}
  &__menu {
    padding: 25px 0 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 30px;
    //!------------------  media -- max-width -- 992px  ------------------
    @media(max-width:992px) {
      // padding: 25px 25px 25px;
      // gap: 30px;
    }
  }
  &__column {
    max-width: 25%;
    //!------------------  media -- max-width -- 992px  ------------------
    @media(max-width:992px) {
      max-width: none;
      flex: 0 1 50%;
      padding-left: 30px;
    }
    //!------------------  media -- max-width -- 636px  ------------------
    @media(max-width:636px) {
      // padding-left: 50px;
      padding-left: calc(0px + 50 * ((100vw - 320px) / (636 - 320)));
      flex: 0 1 100%;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29px / 24px * 100%);
    margin-bottom: 40px;
    @media(max-width:992px) {
      margin-bottom: 20px;
    }
  }
  &__list {}
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
      @media(max-width:992px) {
        margin-bottom: 10px;
      }
    }
  }
  &__link {
    &:hover {
      text-decoration: underline;
    }
    line-height: 130%;
  }
  &__app {}
  &__copy {}
  &__nav {}
}
.app-footer {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  // gap-x: 25px;
  column-gap: 25px;
  // margin-bottom: -20px;
  flex-wrap: wrap;
  &__item {
    padding: 12px 0;
    &:not(:last-child) {
      // padding: 0 40px 20px 0;
    }
  }
  &__link {}
  &__img {}
}
.copy {
  padding: 13px 0;
  max-width: 800px;
  margin: 0 auto;
  &__text {
    font-size: 12px;
    line-height: calc(15px / 12px * 100%);
    text-align: center;
  }
}
.nav-footer {
  padding: 17px 0 10px;
  &__list {
    display: flex;
    justify-content: center;
    column-gap: 40px;
  }
  &__item {}
  &__link {
    &:hover {}
  }
}
//?----------------------------- footer -- end -----------------------------
//!----- button-block -----
//!----- bitton inner -----
//?----------------------------- bitton inner ------------------------------------
.inner__button {
  text-align: center;
}
//?----------------------------- bitton inner -- end -----------------------------
//?----------------------------- button-block ------------------------------------
.button-block {
  position: relative;
  z-index: 2;
  display: inline-block;
  background: #151515;
  padding: 13px 61px;
  // margin: 0 auto;
  min-width: 223px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
}
//?----------------------------- button-block -- end -----------------------------
//!----- top -----
//?----------------------------- top ------------------------------------
.top {
  color: #fff;
  padding-top: 215px;
  text-align: center;
  position: relative;
  height: 100vh;
  background: rgba(21, 21, 21, 0.815);
  // opacity: 0.3;
  &__container {}
  &__title {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 96px;
    line-height: calc(116px / 96px * 100%);
    margin-bottom: 40px;
  }
  &__button {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(44px / 36px * 100%);
    padding: 23px 117px;
  }
}
.slider-top {
  &::before {
    content: '';
    position: absolute;
    background: rgba(21, 21, 21, 0.308);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &__item {
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  &__pagination {
    bottom: 50px !important;
  }
}
//?----------------------------- top -- end -----------------------------
//!----- swiper -----
//?----------------------------- swiper ------------------------------------
.swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.swiper-wrapper {}
.swiper-pagination {
  z-index: 3;
}
.swiper-pagination-bullet {
  width: 120px !important;
  height: 3px;
  background-color: #151515 !important;
  margin-right: 30px !important;
  opacity: 1 !important;
  border-radius: 0 !important;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
  height: 6px;
}
//?----------------------------- swiper -- end -----------------------------
//!----- whylease -----
//?----------------------------- whylease ------------------------------------
.whylease {
  padding: 150px 0 75px;
  &__container {}
  &__title {
    margin-bottom: 50px;
  }
  &__list {}
}
.title-block {
  font-weight: 700;
  font-size: 48px;
  line-height: calc(58px / 48px * 100%);
  text-align: center;
}
.list-whylease {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  &__item {
    text-align: center;
    > *:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__img {}
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29px / 24px * 100%);
  }
  &__text {
    text-align: left;
    line-height: 130%;
  }
}
//?----------------------------- whylease -- end -----------------------------
//!----- howdoes -----
//?----------------------------- howdoes ------------------------------------
.how-does {
  padding: 75px 0;
  &__container {
    max-width: 600px;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__text {
    margin-bottom: 50px;
    line-height: 130%;
  }
  &__text:last-child {
    margin-bottom: 0px;
  }
  &__similar {
    margin-bottom: 50px;
  }
  &__list {
    // list-style-type: decimal;
    margin-bottom: 70px;
    counter-reset: myCounter;
    // display: flex;
  }
  &__item {
    position: relative;
    padding-left: auto;
    margin-left: auto;
    width: 45%;
    min-width: 270px;
    min-height: 100px;
    padding-top: 20px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 700;
      font-size: 48px;
      background: #0066FF;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: -220px;
      // width:100%;
      // z-index: 50;
    }
  }
}
//?----------------------------- howdoes -- end -----------------------------
//!----- welcome -----
//?----------------------------- welcome ------------------------------------
.welcome {
  padding: 75px 0;
  &__container {}
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29px / 24px * 100%);
    text-align: center;
  }
  // &__video {
  //   position: relative;
  //   max-width: 1000px;
  //   // height: 56%;
  //   margin: 0 auto;
  //   // padding: 0 100px 56%;
  //   padding-bottom: 45%;
  //   iframe {
  //   //   display: block;
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //   //   left: 0;
  //     width: 100%;
  //     height: 100%;
  //     max-width: 1000px;
  //   }
  // }
  &__video {
    max-width: 1000px;
    margin: 0 auto;
    div {
      padding-bottom: 56%;
      position: relative;
    }
    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
//?----------------------------- welcome -- end -----------------------------
//!----- important -----
//?----------------------------- important ------------------------------------
.important {
  padding: 75px 0 150px;
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    // margin-bottom: 50px;
    margin: 0 auto 50px;
    max-width: 580px;
  }
  &__list {
    display: flex;
    margin: -20px;
    // flex-wrap: wrap;
  }
  &__item {
    flex: 0 1 25%;
    padding: 20px;
  }
  &__img {
    margin-bottom: 20px;
    img {
      object-fit: cover;
      max-width: 100%;
    }
  }
  &__discription {
    line-height: 130%;
  }
}
//?----------------------------- important -- end -----------------------------
//!----- contacts -----
//?----------------------------- contacts ------------------------------------
.contacts {
  padding: 240px 0 75px;
  &__title {
    padding-bottom: 20px;
  }
  &__text {
    padding-bottom: 50px;
    color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29px / 24px * 100%);
    max-width: 935px;
    margin: 0 auto;
  }
  &__form {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
  }
  &__name,
  &__email,
  &__textarea {
    padding: 0 20px;
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    border: 1px solid #0066FF;
    &::placeholder {
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
      color: #151515;
      opacity: 0.5;
    }
    &:focus {
      border: 1px solid #eb088c;
    }
  }
  &__name,
  &__email {
    max-width: 270px;
    height: 57px;
    margin-bottom: 25px;
  }
  &__name {
    margin-right: 35px;
    &:focus {
      border: 5px solid #ff00ea;
      color: red;
    }
  }
  &__email {}
  &__textarea {
    width: 100%;
    margin-top: 25px;
    height: 290px;
    resize: none;
    padding: 28px 20px;
  }
  &__btn {
    margin-top: 50px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    border: none;
  }
  button.contacts__btn {
    padding: 10.60px 61px;
  }
}
//?----------------------------- contacts -- end -----------------------------
//!----- blog-row -----
//?----------------------------- blog-row ------------------------------------
.blog-row {
  padding: 75px 0 150px;
  &__container {}
  &__list {
    display: flex;
    // margin: -20px;
    // flex-wrap: wrap;
    margin-bottom: 50px;
  }
  &__item {
    padding: 20px;
    flex: 0 1 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__img {
    margin-bottom: 30px;
    width: 100%;
    > img {
      width: 100%;
    }
  }
  &__text {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29px / 24px * 100%);
    padding-right: 30px;
  }
  &__btn {
    background: #0066FF;
    padding: 5px 20px;
    color: #fff;
    border: none;
    align-self: flex-start;
  }
  &__inner {}
}
//?----------------------------- blog-row -- end -----------------------------
//!----- choose -----
//?----------------------------- choose ------------------------------------
.choose {
  padding: 150px 0;
  &__container {}
  &__title {
    margin: 90px 0 50px;
  }
  &__tabs {
    // margin-bottom: 100px;
    margin: -20px auto 80px;
  }
  &__content {}
  &__item {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
    &.choose__item--active{
display: grid;
    }
  }
  &__card {}
}
.tabs-btn {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  // margin: -20px;
  &__item {
    // padding: 20px;
    margin: 20px;
    font-family: Inter, sans-serif;
    color: #151515;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29px / 24px * 100%);
    border: none;
    background-color: transparent;
    // border-radius: none;
    // padding: 0;
    &--active {
      color: #0066FF;
    }
  }
}
.card {
  border: 1px solid #0066FF;
  text-align: center;
 

  &__img {
    width: 100%;
    margin-bottom: 20px;
  }
  &__content{
padding: 0 10px;
> * {
  margin-bottom: 20px;
  
}
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29px / 24px * 100%);
  }
  &__text {
    line-height: 130%;
  }
  &__prise {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29px / 24px * 100%);
  }
  &__link {
    display: inline-block;
    line-height: 130%;
    color: #0066FF;
    border-top: 1px solid #0066FF;
    width: 100%;
  }
}
.choose {
  &__inner {
    margin-top: 70px;
  }
}
.inner {
  &__button {}
}
//?----------------------------- choose -- end -----------------------------
@import 'media.scss'